* {
	color: white;
}

html, body {
	background-color: #232323;
	height: 100%;
	width: 100%;
}
/*------------------
*		USUARIO
------------------*/

form {
	display: inline-block; 
	background-color: #2b2a2a;
	position: relative;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	margin-bottom: 400px;
}	

.containersContact {
	display: inline-block;
	margin: 30px;
}

#datos {
	border-right: 2px solid #f7aa47;
	padding-right: 55px;
	height: 425px;
}

#datos>h1{
	margin-bottom: 60px;
	border-bottom: 3px solid #f7aa47;
	width: 200px;
	padding-bottom: 5px;
}

.datosUsr {
	display: block;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid grey;
	margin: 10px 0px 60px 0px;
	padding-bottom: 5px;
	font-size: 16px;
	width: 20em;
}

.datosUsr:focus{
	border-bottom: 2px solid #566a8f;
}
label {
	color: grey;
	padding-bottom: 30px;
	font-size: 17px;
}

/*------------------
* BOTONES DE INPUT NUMBER
------------------*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

/*------------------
*	   MENSAJE
------------------*/

#message{
	margin: 30px 35px 30px 30px;
}

#message>textarea {
	padding-top: 20px;
	display: block;
	background-color: transparent;
	border: none;
	min-width: 450px;
	max-width: 450px;
	min-height: 280px;
	max-height: 280px;
}

textarea::placeholder{
	color:gray;
}

#message>input {
	position: relative;
	left: 100%;
	transform: translate(-100%, 0%);
	width: 225px;
	margin-top: 20px;
	height: 50px;
	border: none;
	background-color: #566a8f; 
	transition: .35s;
	font-size: 16px;
}

#message>input:hover {
	background-color:#4f6da2;
}

input:focus{
	outline: none;
}

.msgVerif {
	position: relative;
	color:gray; /*VER ESTILO DE MENSAJE DE CONFIRMACION*/
}

/* MOBILE */
@media screen and (max-width: 600px) {
	form {
		background-color: transparent;
		margin: 50px 0px 40px 0px;
		position: relative;
		left: 50%;
		top: 0%;
		transform: translate(-50%, 0%);
	}
	#datos, #message, .containersContact {
		margin: 0;
		padding: 0;
		position: relative;
		left: 50%;
		transform: translate(-50%, 0%);
	}

	#datos {
		border: none;
		padding-bottom: 30px;
		margin-bottom: 30px;
	border-bottom: 2px solid #f7aa47; 
	}

	#message>textarea {
		padding-top: 20px;
		min-width: 320px;
		max-width: 320px;
		min-height: 250px;
		max-height: 250px;

	}
}

/* LAPTOP */