* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    text-align: left;

}

.images h2 {
margin-bottom: 25px;
}

.infos {
    display: flex;
    justify-content: start;
}

.infos #more-infos {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 28px;
}

#more-infos h5 {
    padding: 8px;
    margin-top: 35px;
    font-size: 27px;
}
#more-infos h5:nth-child(1) {
    color:white; 
    border-bottom: 2px solid #f7aa47 ; 
    padding-bottom: 6px;
}

#info-content li{
    font-size: 15px;
    padding: 10px;
}
.infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 90%;
}

h3:nth-child(2) {
    color: gray;
    text-decoration: line-through; 
}

.choose {
    cursor: pointer;
}


#info-content {
    font-size: 20px;
    height: 70px;
    color: white;
    text-align: left;
    margin-bottom: 100px;
}

#info-content>button{
    padding: 15px;
    width: 100%;
    font: inherit;
    border: 2px solid #292828;
    background-color: #566a8f;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: white;
    transition:  .5s;
}

#info-content>button:hover {
    color: white;
    background-color: #4f6da2;
}


.imgProduct {
    height: 100%;
    display: flex;
    align-items: center;
}

.imgProduct img {
    width: 100%;
    margin: auto;
}


@media ( min-width : 1025px) {

    body {
        align-items: center;
        justify-content: center;

    }

    .container {
        width: auto;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .card {
        flex-direction: row;
        height: 85%;
        width: 80%;
    }

    .images {
        width: 65%;
        height: 100%;
    }

    .infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
        height: 0;
        width: 50%;
        position: relative;
        bottom: 25%;
    }
    #info-content {
        margin-top: 30px;
        text-align: left;
        width: 80%;
        text-align: justify;
    }

    #info-content li {
        font-size: 17px;
        width: 22em;
        margin-bottom: 10px;
    }
}


@media (min-width: 670px) {

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .buttons {
        flex-direction: row;
        font-size: 15px;
    }

    .card {
        width: 60%;
        height: 100%;
    }
    .infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
        height: 0;
        width: 50%;
        position: relative;
        bottom: 45%;
    }
    #more-infos h5{
        margin-top: 70px;
    }


}