*{
	color: white;
}
html{
	max-height: 100vh;
	background-color: #232323;
}	

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    bottom: 30px;
}

.container > img {
    width: 600px;
    margin: 100px 175px 150px 0px;
}               

.info__product {
    float: right;
    width: 300px;
}

.title__product {
	margin-bottom: 30px;
	border-bottom: 4px solid #f7aa47;
	padding-bottom: 12px
}

.description__product {
	text-align: justify;
	font-size: 18px;
	margin-bottom: 30px;
}

.moreDetail__product{
	display:inline-block;
	border-bottom: 2.5px solid #f7aa47;
	margin-bottom: 20px;
}

ul{
	text-align: justify;
}

li{
	margin-bottom: 20px;
	list-style:none;
	font-size: 15px;
}

.btn_product {
	height: 50px;
	width: 300px;
	background-color: #566a8f;
    text-align: center;
    border: 1px solid #4f6da2;
    transition: .3s;
    color: white;
    font-size: 16px;
    margin-top: 25px;
}
.btn_product:hover {
	background-color: #4f6da2;
}

.btn_product > span {
	line-height: 40px;
	color: white;
}

@media (max-width: 600px){

}